* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-text);
}

html {
    font-size: 62.5%;
}

a {
    color: unset;
    text-decoration: none;
}

.section__padding {
    padding: 6.4rem 9.6rem;
}

.section__padding {
    margin: 6.4rem 9.6rem;
}

@media  and (max-width: 700px) {
    .section__padding {
        padding: 6.4rem;
    }

    .section__margin {
        margin: 6.4rem;
    }
}

@media  and (max-width: 550px) {
    .section__padding {
        padding: 6.4rem 3.2rem;
    }

    .section__margin {
        margin: 6.4rem 3.2rem;
    }
}

